.list-group{	
	li{
		> div{
			display: table;
			width:100%;
			
			div.text-container{
				float:left;
			}
			
			.list-title{
				display: table-cell;
				vertical-align: middle;
			}
			
			.notes-holder{
				color:#888888;
				font-style: italic;
			}
		}		
	}
	
	&.done-list{
		li{
			background:#9effaf;
			
			div{
				.list-title{
					text-decoration: line-through;
				}
			}
		}	
	}
}